* {
    box-sizing: border-box;
  }
  
  body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    --box-size: 100px;
  }
  
  .main {
    margin-top: 20vh;
    display: inline-block;
  }
  
  .board {
    width: calc(var(--box-size) * 3);
    height: calc(var(--box-size) * 3);
    border-collapse: collapse;
  }
  
  td {
    width: var(--box-size);
    height: var(--box-size);
  }
  
  tr td:not(:last-of-type) {
    border-right: 1px solid white;
  }
  
  tr:not(:last-of-type) td {
    border-bottom: 1px solid white;
  }
  
  a {
    color: white;
    text-decoration: underline white;
  }